# Java
*.class
*.jar
hs_err_pid*

# Maven
target/

# IntelliJ
.idea/*
!.idea/icon.svg
*.iml
*.iws

# Eclipse
.settings/
.classpath
.project

# Visual Studio Code
.vscode/

# Directories
.DS_Store
.directory
